@using BlazeRing.Shared;
@inject JsService JsService
@inject HttpClient Http

@if (string.IsNullOrEmpty(accountAddress))
{
    <w3m-core-button></w3m-core-button>
    <button @onclick="Connect">Get Account</button>
    @if(!string.IsNullOrEmpty(base64Image))
    {
        <img src="@base64Image" width="256" height="256" />
        <p>Scan this QR Code using your Loopring Wallet</p>
    }
}
else
{
    if (apiKey == null)
    {
        <button @onclick="Unlock">@unlockStatus</button>
    }
    else if (apiKey != null)
    {
        <button @onclick="Disconnect">Disconnect</button>
        <p>Your api key is @apiKey.apiKey</p>
    }
}

@code {
    private string? accountAddress;
    private AccountInformation? accountInformation;
    private ApiKey? apiKey;
    string? base64Image;

    public string? connectStatus = "Connect with WalletConnect";
    private string? unlockStatus = "Unlock";

    private async Task Connect()
    {
        try
        {
            connectStatus = "Connecting...";
            accountAddress = await JsService.GetWalletConnectAccount();
            StateHasChanged();
            if (!string.IsNullOrEmpty(accountAddress))
            {
                var accountInformationEndpoint = $"{BlazeRingConstants.ApiUrl}/{BlazeRingConstants.GetAccountInformationApiEndpoint}?owner={accountAddress}";
                accountInformation = await Http.GetFromJsonAsync<AccountInformation>(accountInformationEndpoint);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task Unlock()
    {
        try
        {
            unlockStatus = "Waiting for signature...";
            StateHasChanged();
            var signedEcdsaMessage = await JsService.SignMessageWalletConnect("BLAH BLA");
            unlockStatus = "Unlocking...";
            StateHasChanged();
            var xApiSig = await BlazeRingHelper.GetApiKeyEDDSASig(signedEcdsaMessage, accountInformation.owner, accountInformation.accountId);
            unlockStatus = "Requesting API Key...";
            StateHasChanged();
            Http.DefaultRequestHeaders.Remove("x-api-sig"); // remove x-api-sig if it exists already
            Http.DefaultRequestHeaders.Add("x-api-sig", xApiSig);
            var getApiKeyEndpoint = $"{BlazeRingConstants.ApiUrl}/{BlazeRingConstants.GetApiKeyEndpoint}?accountId={accountInformation.accountId}";
            apiKey = await Http.GetFromJsonAsync<ApiKey>(getApiKeyEndpoint);
        }
        catch (Exception ex)
        {
            unlockStatus = "Rejected signing...Try Again!";
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void Disconnect()
    {
        accountAddress = null;
        accountInformation = null;
        apiKey = null;
        unlockStatus = "Unlock";
        StateHasChanged();
    }

}